/* h1 {
    font-size: 4em;
    text-align: center;
	font-family: 'Poppins', sans-serif;
} */

#BagImageDiv{
	opacity:0;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
 }
 #LoadOverview{
	opacity:0;
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
 }


.main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: white;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all .375s;

}

.main-nav.is-open {
    opacity: 1;
    z-index: 100;
    visibility: visible;

}

/* yellow band efect*/
.main-nav::before {
    content: '';
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: -15px;
    background: #fedc2a;
    transform-origin: 0 0;
    transform: skew(-14deg) translateX(-120%);
    transition: all .275s .1s;
}

.main-nav.is-open::before{
    transform: skew(-14deg) translateX(0);
}

/*skewign effect on menu links */
main-nav ul {
    display: inline-flex;
    flex-direction: column;
    height: 93%; 
    align-items: flex-end;
    transform: translateX(-18%) skew(-16deg);
}

.main-nav li{
    display: block;
    margin: .5rem 0;
    text-align: right;
    transform: skew(16deg);
}

/*apparition effect on links */
.main-nav a {
    opacity: 0;
    transform: translateY(-10px);
}

.main-nav.is-open a {
    opacity: 1;
    transform: translateY(0);
}
.main-nav li:nth-child(1) a {
	transition: all 275ms 175ms
}
.main-nav li:nth-child(2) a {
	transition: all 275ms 225ms
}
.main-nav li:nth-child(3) a {
	transition: all 275ms 275ms
}
.main-nav li:nth-child(4) a {
	transition: all 275ms 325ms
}
.main-nav li:nth-child(5) a {
	transition: all 275ms 375ms
}


/* Decoration */
.main-nav ul,
.main-nav li {
	list-style: none;
	padding: 0;
}
.main-nav a {
	display: block;
	padding: 12px 0;
	color: #5A3B5D;
	font-size: 1.4em;
	text-decoration: none;
	font-weight: bold;
}

/* Burger Style: @see: https://codepen.io/CreativeJuiz/full/oMZNXy */
.open-main-nav {
	position: absolute;
	top: 45px;
	padding-top: 20px;
	right: 45px;
	z-index: 1000;
	background: none;
	border: 0;
	cursor: pointer;
}
.open-main-nav:focus {
	outline: none;
}
.burger {
	position: relative;
	display: block;
	width: 65px;
	height: 10px;
	margin: 0 auto;
	background: #5A3B5D;
	transform: skew(5deg);
	transition: all .275s;
}

.burger:after,
.burger:before {
	content: '';
	display: block;
	height: 100%;
	background: #5A3B5D;
	transition: all .275s;
}

.burger:after {
	transform: translateY(-26px) translateX(-2px) skew(-20deg);
}

.burger:before {
	transform: translateY(-32px) skew(-10deg);
}

/* Toggle State part */
.is-open .burger {
	transform: skew(5deg) translateY(-8px) rotate(-45deg);
}

.is-open .burger:before {
	transform: translateY(0px) skew(-10deg) rotate(75deg);
}

.is-open .burger:after {
	transform: translateY(-12px) translateX(10px) skew(-20deg);
    opacity: 0;
}

/* MENU Text part */

.burger-text {
	display: block;
	font-size: 26px;
	letter-spacing: .05em;
	margin-top: .5em;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color: #5A3B5D;
}

 .device {
	/* position: relative; */
	 width: 100%;
	height: 100%; 
	background: #FFF;
	/* border: 1px solid #EEE;
	border-radius: 3px;
	box-shadow: 0 0 0 10px rgba(0,0,0,.1); */
} 

/* .container {
	position: absolute;
	top: 0; right: 0;
	bottom: 0; left: 0;
	overflow: hidden;
	background: linear-gradient(to bottom, #eee, #ddd);
} */

html {
	height: 100%;
    
}
body {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Slow motion button */
[id="slowmo"] {
	position: absolute;
	top: 20px;
	right: 20px;
	padding: 10px;
	border: 0;
	font-size: 1rem;
	background: #FEDC2A;
	color: #5A3B5D;
	font-weight: bold;
	cursor: pointer;
	transition: all .275s;
}

[id="slowmo"] span {
	display: block;
	font-weight: normal;
}

[id="slowmo"]:hover,
[id="slowmo"]:focus {
	background: #5A3B5D;
	color: #FEDC2A;
}

[id="slowmo"].is-slowmo span:after {
	content: 'Activated';
	display: block;
	font-weight: bold;
}

/* When slowmotion is activated */

.is-slowmo + .device .open-main-nav .burger,
.is-slowmo + .device .open-main-nav .burger:before,
.is-slowmo + .device .open-main-nav .burger:after,
.is-slowmo + .device .main-nav,
.is-slowmo + .device .main-nav::before,
.is-slowmo + .device .main-nav a {
	transition-duration: 3s;
}
.is-slowmo + .device .main-nav li:nth-child(1) a {
	transition-delay: 1750ms
}
.is-slowmo + .device .main-nav li:nth-child(2) a {
	transition-delay: 2250ms
}
.is-slowmo + .device .main-nav li:nth-child(3) a {
	transition-delay: 2750ms
}
.is-slowmo + .device .main-nav li:nth-child(4) a {
	transition-delay: 3250ms
}
.is-slowmo + .device .main-nav li:nth-child(5) a {
	transition-delay: 3750ms
}

/* Notice */
.notice {
	position: absolute;
	bottom: -15px;
	left: 0; right: 0;
	padding: 20px;
	background: #F2F2F2;
	color: #5A3B5D;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	z-index: 100;
	text-align: center;
}
.notice strong {
	font-weight: 700;
}
.notice a {
	padding: 2px 3px;
	background: #FEDC2A;
	text-decoration: none;
}


/*IMAGE AFTER EFFECTS */
#BagImageDiv{
}
#image{
	width: 300px;
	height: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}



/* TEXT EFFECTS */


#IntroText{
	position: relative;
	margin-bottom: 55px;
	margin-left: 18px;
    -webkit-animation: fadeinout 3.3s linear forwards;
    animation: fadeinout 3.3s linear forwards;
}
@-webkit-keyframes fadeinout {
	0%,100% { opacity: 0; }
	50% { opacity: 1; }
  }
  
  @keyframes fadeinout {
	0%,100% { opacity: 0; }
	50% { opacity: 1; }
  }
#IntroText p {

    font-size: 45px;
    text-align: center;
}

article {
  background: linear-gradient(
    to right, 
    hsl(98 100% 62%), 
    hsl(204 100% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

p {
  font-size: 2vmin;
  line-height: 1.1;
}

body {
  background: hsl(204 100% 5%);
  
  min-block-size: 100%;
  min-inline-size: 100%;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui;
}

p, body {
  margin: 0;
}


html {
  block-size: 100%;
  inline-size: 100%;
}




/*  BOX EFFECTS  */
:root {
	--background: #121621;
  }
  
  .loader {
	--duration: 3s;
	--primary: rgba(39, 94, 254, 1);
	--primary-light: #2f71ff;
	--primary-rgba: rgba(39, 94, 254, 0);
	width: 200px;
	height: 320px;
	position: relative;
	transform-style: preserve-3d;
  }
  @media (max-width: 480px) {
	.loader {
	  zoom: 0.44;
	}
  }
  .loader:before, .loader:after {
	--r: 20.5deg;
	content: "";
	width: 320px;
	height: 140px;
	position: absolute;
	right: 32%;
	bottom: -11px;
	background: var(--background);
	transform: translateZ(200px) rotate(var(--r));
	-webkit-animation: mask var(--duration) linear forwards infinite;
			animation: mask var(--duration) linear forwards infinite;
  }
  .loader:after {
	--r: -20.5deg;
	right: auto;
	left: 32%;
  }
  .loader .ground {
	position: absolute;
	left: -50px;
	bottom: -120px;
	transform-style: preserve-3d;
	transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
  .loader .ground div {
	transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
	width: 200px;
	height: 200px;
	background: var(--primary);
	background: linear-gradient(45deg, var(--primary) 0%, var(--primary) 50%, var(--primary-light) 50%, var(--primary-light) 100%);
	transform-style: preserve-3d;
	-webkit-animation: ground var(--duration) linear forwards infinite;
			animation: ground var(--duration) linear forwards infinite;
  }
  .loader .ground div:before, .loader .ground div:after {
	--rx: 90deg;
	--ry: 0deg;
	--x: 44px;
	--y: 162px;
	--z: -50px;
	content: "";
	width: 156px;
	height: 300px;
	opacity: 0;
	background: linear-gradient(var(--primary), var(--primary-rgba));
	position: absolute;
	transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y)) translateZ(var(--z));
	-webkit-animation: ground-shine var(--duration) linear forwards infinite;
			animation: ground-shine var(--duration) linear forwards infinite;
  }
  .loader .ground div:after {
	--rx: 90deg;
	--ry: 90deg;
	--x: 0;
	--y: 177px;
	--z: 150px;
  }
  .loader .box {
	--x: 0;
	--y: 0;
	position: absolute;
	-webkit-animation: var(--duration) linear forwards infinite;
			animation: var(--duration) linear forwards infinite;
	transform: translate(var(--x), var(--y));
  }
  .loader .box div {
	background-color: var(--primary);
	width: 48px;
	height: 48px;
	position: relative;
	transform-style: preserve-3d;
	-webkit-animation: var(--duration) ease forwards infinite;
			animation: var(--duration) ease forwards infinite;
	transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  .loader .box div:before, .loader .box div:after {
	--rx: 90deg;
	--ry: 0deg;
	--z: 24px;
	--y: -24px;
	--x: 0;
	content: "";
	position: absolute;
	background-color: inherit;
	width: inherit;
	height: inherit;
	transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y)) translateZ(var(--z));
	filter: brightness(var(--b, 1.2));
  }
  .loader .box div:after {
	--rx: 0deg;
	--ry: 90deg;
	--x: 24px;
	--y: 0;
	--b: 1.4;
  }
  .loader .box.box0 {
	--x: -220px;
	--y: -120px;
	left: 58px;
	top: 108px;
  }
  .loader .box.box1 {
	--x: -260px;
	--y: 120px;
	left: 25px;
	top: 120px;
  }
  .loader .box.box2 {
	--x: 120px;
	--y: -190px;
	left: 58px;
	top: 64px;
  }
  .loader .box.box3 {
	--x: 280px;
	--y: -40px;
	left: 91px;
	top: 120px;
  }
  .loader .box.box4 {
	--x: 60px;
	--y: 200px;
	left: 58px;
	top: 132px;
  }
  .loader .box.box5 {
	--x: -220px;
	--y: -120px;
	left: 25px;
	top: 76px;
  }
  .loader .box.box6 {
	--x: -260px;
	--y: 120px;
	left: 91px;
	top: 76px;
  }
  .loader .box.box7 {
	--x: -240px;
	--y: 200px;
	left: 58px;
	top: 87px;
  }
  .loader .box0 {
	-webkit-animation-name: box-move0;
			animation-name: box-move0;
  }
  .loader .box0 div {
	-webkit-animation-name: box-scale0;
			animation-name: box-scale0;
  }
  .loader .box1 {
	-webkit-animation-name: box-move1;
			animation-name: box-move1;
  }
  .loader .box1 div {
	-webkit-animation-name: box-scale1;
			animation-name: box-scale1;
  }
  .loader .box2 {
	-webkit-animation-name: box-move2;
			animation-name: box-move2;
  }
  .loader .box2 div {
	-webkit-animation-name: box-scale2;
			animation-name: box-scale2;
  }
  .loader .box3 {
	-webkit-animation-name: box-move3;
			animation-name: box-move3;
  }
  .loader .box3 div {
	-webkit-animation-name: box-scale3;
			animation-name: box-scale3;
  }
  .loader .box4 {
	-webkit-animation-name: box-move4;
			animation-name: box-move4;
  }
  .loader .box4 div {
	-webkit-animation-name: box-scale4;
			animation-name: box-scale4;
  }
  .loader .box5 {
	-webkit-animation-name: box-move5;
			animation-name: box-move5;
  }
  .loader .box5 div {
	-webkit-animation-name: box-scale5;
			animation-name: box-scale5;
  }
  .loader .box6 {
	-webkit-animation-name: box-move6;
			animation-name: box-move6;
  }
  .loader .box6 div {
	-webkit-animation-name: box-scale6;
			animation-name: box-scale6;
  }
  .loader .box7 {
	-webkit-animation-name: box-move7;
			animation-name: box-move7;
  }
  .loader .box7 div {
	-webkit-animation-name: box-scale7;
			animation-name: box-scale7;
  }
  
  @-webkit-keyframes box-move0 {
	12% {
	  transform: translate(var(--x), var(--y));
	}
	25%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  
  @keyframes box-move0 {
	12% {
	  transform: translate(var(--x), var(--y));
	}
	25%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @-webkit-keyframes box-scale0 {
	6% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	14%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @keyframes box-scale0 {
	6% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	14%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @-webkit-keyframes box-move1 {
	16% {
	  transform: translate(var(--x), var(--y));
	}
	29%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @keyframes box-move1 {
	16% {
	  transform: translate(var(--x), var(--y));
	}
	29%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @-webkit-keyframes box-scale1 {
	10% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	18%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @keyframes box-scale1 {
	10% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	18%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @-webkit-keyframes box-move2 {
	20% {
	  transform: translate(var(--x), var(--y));
	}
	33%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @keyframes box-move2 {
	20% {
	  transform: translate(var(--x), var(--y));
	}
	33%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @-webkit-keyframes box-scale2 {
	14% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	22%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @keyframes box-scale2 {
	14% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	22%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @-webkit-keyframes box-move3 {
	24% {
	  transform: translate(var(--x), var(--y));
	}
	37%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @keyframes box-move3 {
	24% {
	  transform: translate(var(--x), var(--y));
	}
	37%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @-webkit-keyframes box-scale3 {
	18% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	26%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @keyframes box-scale3 {
	18% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	26%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @-webkit-keyframes box-move4 {
	28% {
	  transform: translate(var(--x), var(--y));
	}
	41%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @keyframes box-move4 {
	28% {
	  transform: translate(var(--x), var(--y));
	}
	41%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @-webkit-keyframes box-scale4 {
	22% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	30%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @keyframes box-scale4 {
	22% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	30%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @-webkit-keyframes box-move5 {
	32% {
	  transform: translate(var(--x), var(--y));
	}
	45%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @keyframes box-move5 {
	32% {
	  transform: translate(var(--x), var(--y));
	}
	45%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @-webkit-keyframes box-scale5 {
	26% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	34%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @keyframes box-scale5 {
	26% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	34%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @-webkit-keyframes box-move6 {
	36% {
	  transform: translate(var(--x), var(--y));
	}
	49%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @keyframes box-move6 {
	36% {
	  transform: translate(var(--x), var(--y));
	}
	49%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @-webkit-keyframes box-scale6 {
	30% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	38%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @keyframes box-scale6 {
	30% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	38%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @-webkit-keyframes box-move7 {
	40% {
	  transform: translate(var(--x), var(--y));
	}
	53%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @keyframes box-move7 {
	40% {
	  transform: translate(var(--x), var(--y));
	}
	53%, 52% {
	  transform: translate(0, 0);
	}
	80% {
	  transform: translate(0, -32px);
	}
	90%, 100% {
	  transform: translate(0, 188px);
	}
  }
  @-webkit-keyframes box-scale7 {
	34% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	42%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @keyframes box-scale7 {
	34% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
	}
	42%, 100% {
	  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
	}
  }
  @-webkit-keyframes ground {
	0%, 65% {
	  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
	}
	75%, 90% {
	  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(1);
	}
	100% {
	  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
	}
  }
  @keyframes ground {
	0%, 65% {
	  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
	}
	75%, 90% {
	  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(1);
	}
	100% {
	  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
	}
  }
  @-webkit-keyframes ground-shine {
	0%, 70% {
	  opacity: 0;
	}
	75%, 87% {
	  opacity: 0.2;
	}
	100% {
	  opacity: 0;
	}
  }
  @keyframes ground-shine {
	0%, 70% {
	  opacity: 0;
	}
	75%, 87% {
	  opacity: 0.2;
	}
	100% {
	  opacity: 0;
	}
  }
  @-webkit-keyframes mask {
	0%, 65% {
	  opacity: 0;
	}
	66%, 100% {
	  opacity: 1;
	}
  }
  @keyframes mask {
	0%, 65% {
	  opacity: 0;
	}
	66%, 100% {
	  opacity: 1;
	}
  }
  body {
	background: var(--background);
  }
  
  small {
	display: block;
	position: absolute;
	bottom: 20px;
	left: 50%;
	font-family: Arial;
	max-width: 320px;
	font-size: 12px;
	line-height: 19px;
	z-index: 1;
	color: #6C7486;
  }
  @media (min-width: 481px) {
	small {
	  transform: translateX(-50%);
	  text-align: center;
	}
  }
  @media (max-width: 480px) {
	small {
	  left: 20px;
	  right: 112px;
	  font-size: 10px;
	  line-height: 17px;
	  transform: translateZ(400px);
	}
  }
  
  html {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  }
  
  * {
	box-sizing: inherit;
  }
  *:before, *:after {
	box-sizing: inherit;
  }
  
  body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  body .dribbble {
	position: fixed;
	display: block;
	right: 24px;
	bottom: 24px;
  }
  body .dribbble img {
	display: block;
	width: 76px;
  }







  /* devanagari */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
	unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
  }
  /* latin-ext */
  @font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/poppins/v15/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }



  /* 2nd LOADING SCREEN */

  
  .loading {
	display: flex;
	margin-right: 15px;
	
  }
  .loading .dot {
	position: relative;
	width: 2em;
	height: 2em;
	margin: 0.8em;
	border-radius: 50%;
  }
  .loading .dot::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: inherit;
	border-radius: inherit;
	animation: wave 2s ease-out infinite;
  }
  .loading .dot:nth-child(1) {
	background: #7ef9ff;
  }
  .loading .dot:nth-child(1)::before {
	animation-delay: 0.2s;
  }
  .loading .dot:nth-child(2) {
	background: #89cff0;
  }
  .loading .dot:nth-child(2)::before {
	animation-delay: 0.4s;
  }
  .loading .dot:nth-child(3) {
	background: #4682b4;
  }
  .loading .dot:nth-child(3)::before {
	animation-delay: 0.6s;
  }
  .loading .dot:nth-child(4) {
	background: #0f52ba;
  }
  .loading .dot:nth-child(4)::before {
	animation-delay: 0.8s;
  }
  .loading .dot:nth-child(5) {
	background: #000080;
  }
  .loading .dot:nth-child(5)::before {
	animation-delay: 1s;
  }
  
  @keyframes wave {
	50%, 75% {
	  transform: scale(2.5);
	}
	80%, 100% {
	  opacity: 0;
	}
  }