* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 100vh; /* Should be removed. Only for demonstration */
  }
  #col1{
    width:20%;
  }
  #col2{
    width:40%;
  }
  #col3{
    width:40%;
    text-align: center;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
}
  #preview{
      margin-top: 2%;
      width: 20%;
      height: 20%;
  }
  #preview2{
      margin: auto;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

  #BagD{
      margin-top: 2%;
      margin-bottom: 2%;
  }

  #BagDescription{
    margin-top: 2%;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
}
#BagMaterial{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
} 
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  br {
    content: "";
    margin: -1em;
    display: block;
 }