<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Polytex QR Software</title>
<meta name="viewport" content="initial-scale=1">
<link rel="stylesheet" href="../static/css/main.css">
<script src="../static/js/jquery.js"></script>


</head>
<body>
    <!--
   <div class="device">
       <div class="container">
           <button id="burger" class="open-main-nav">
               <span class="burger"></span>
               <span class="burger-text">Menu</span>
            </button>
            <nav class="main-nav" id="main-nav">
                <ul>
                    <li>
                        <a href="#" > About</a>
                    </li>
                    <li>
                        <a href="#" > Ingridients</a>
                    </li>
                    <li>
                        <a href="#" > Contact us</a>
                    </li>

                </ul>
            </nav>
       </div>
       <h1>Bag Name</h1>
       <p>Description of the bag. It can be anything to describe the product</p>
       -->
    <div id="BagImageDiv" style="display: none; ">
      <h1 style="color: #ebebeb; text-align: center; 
      font-size: 1em;" >QR Sample Page</h1>
      <h2 style="text-align: center; color: #777271; font-family: 'Courier New', Courier, monospace;">Purina Layena+ Omega-3</h2>
      <img id="image" style="	margin-top: 10px;margin-bottom: 10px;text-align: center;
      display: block;margin-left: auto;margin-right: auto;" src="../static/img/chicken.png">
      
        <h3 style="text-align: center; color: #777271; font-family: 'Courier New', Courier, monospace;">Product Details</h3>
        <label for = "BagM" id = BagMaterial style="text-align: center; color: #ebebeb;">
          <p>Purina Layena+ Omega-3 feed includes all nutrients hens need with added omega-3. with Layena+ Omega-3 feed, hens can produce eggs with more omega-3 fatty acids than store-bought eggs.*

            Purina Layena+ Omega-3 pellets are a complete feed for laying hens 18 weeks and older to support optimal hen health and consistent egg production with added omega-3 fatty acids.
            
            Purina Layena+ Omega-3 includes the Oyster Strong System for strong shells. Purina Oyster Strong System with oyster shell provides another source of calcium when the hens need it most. Oyster shell is a larger particle size than limestone. This means that oyster shell will stay in the digestive tract longer and will provide a source of calcium for egg shell production over a longer period of time than smaller particle sources of calcium. This is especially important at night when egg shell formation is rapidly occurring and dietary sources of calcium are limited because the bird is not eating.</p></label> 
    </div>
    ++


    <div class="loader" id="loadId">
        <div class="box box0">
          <div></div>
        </div>
        <div class="box box1">
          <div></div>
        </div>
        <div class="box box2">
          <div></div>
        </div>
        <div class="box box3">
          <div></div>
        </div>
        <div class="box box4">
          <div></div>
        </div>
        <div class="box box5">
          <div></div>
        </div>
        <div class="box box6">
          <div></div>
        </div>
        <div class="box box7">
          <div></div>
        </div>
        <div class="ground">
          <div></div>
        </div>
    </div>
    <div id="IntroText">
        <article>
            <p>Polytex QR Software</p>
        </article>
    </div>

  <div id="LoadOverview" style="display: none;">
      <div class="loading">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div id="pgTrans" style="text-align: center;">
        <label for = "BagM" id = BagMaterial style="color: aliceblue; font-size: 18px;">
          <br>Redirecting to Purina Mills...<br></label> 
      </div>
  </div>
    
    
     <!--
       <h2>Guaranteed Analysis:</h2>
       <h4>Crude Protein (Min)      28.0% <br>
        Crude Fat (Min)             13.0% <br>
        Crude Fiber (Max)           4.75% <br>
        Moisture (Max)              12.0% <br>
        Linoleic Acid (Min) 1.6% <br>
        Docosahexaenoic Acid (DHA) (Min) 0.1% <br>
        Calcium (Ca) (Min) 1.1% <br>
        Phosphorus (P) (Min) 0.9% <br>
        Vitamin A (Min) 15,000 IU/kg <br>
        Vitamin E (Min) 100 IU/kg <br>
        Glucosamine* (Min) 500 mg/kg <br>
        Omega-6 Fatty Acids* (Min) 1.8% <br>
        Bacillus coagulans* (Min) 600 million CFU/lb</h4> 

        <button id = "find-me">Show my location</button><br/>
<p id = "status"></p>
<a id = "map-link" target="_blank"></a>
    -->
       
    </body>
    <script src="../static/js/menu.js"></script>
<!--
    <script src="../static/js/geolocation.js"></script>
-->
</html>