<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="../static/css/main.css">
<script src="../static/js/jquery.js"></script>

</head>
<body>

   <div class="device">
       <div class="container">
           <button id="burger" class="open-main-nav">
               <span class="burger"></span>
               <span class="burger-text">Menu</span>
            </button>
            <nav class="main-nav" id="main-nav">
                <ul>
                    <li>
                        <a href="#" > About</a>
                    </li>
                    <li>
                        <a href="#" > Ingridients</a>
                    </li>
                    <li>
                        <a href="#" > Contact us</a>
                    </li>

                </ul>
            </nav>
       </div>
       <h1>Bag Name</h1>
       <p>Description of the bag. It can be anything to describe the product</p>
       <img src="../static/img/bagExample.png">
      
       <h2>Guaranteed Analysis:</h2>
       <h4>Crude Protein (Min)      28.0% <br>
        Crude Fat (Min)             13.0% <br>
        Crude Fiber (Max)           4.75% <br>
        Moisture (Max)              12.0% <br>
        Linoleic Acid (Min) 1.6% <br>
        Docosahexaenoic Acid (DHA) (Min) 0.1% <br>
        Calcium (Ca) (Min) 1.1% <br>
        Phosphorus (P) (Min) 0.9% <br>
        Vitamin A (Min) 15,000 IU/kg <br>
        Vitamin E (Min) 100 IU/kg <br>
        Glucosamine* (Min) 500 mg/kg <br>
        Omega-6 Fatty Acids* (Min) 1.8% <br>
        Bacillus coagulans* (Min) 600 million CFU/lb</h4> 
       
    </body>
    <script src="../static/js/menu.js"></script>
</html>