<!DOCTYPE html>
<html lang="en">
<head>

<title>Workbench</title>
<link rel="stylesheet" href="../static/css/Workbench.css">
<!-- <script src="../static/js/animation.js"></script> -->

</head>

<body>

    <header class="header">
        <nav class="navbar">
            <a  href="#" class="nav-logo">Logo</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link"> test</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> Test3</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link"> Test4</a>
                </li>
            </ul>

            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
    </nav>

    </header>

  
</body>
<script src="../static/js/animation.js"></script>
</html>