<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link rel="stylesheet" href="../static/css/Workbench.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>

<label id="Title">QR Code Workbench</label>

<div class="col-container">

  <div id="col1" class="column">
    <h2>Select QR Code to Setup</h2>
    <div id="Qr1Img" tabindex="1">
    <figcaption>1) QR Code 1</figcaption>
    <img onclick="Qr1()" id="QR1" src="../static/img/Test.png" alt="QR Code 1" width="50" height="50" style="margin-left: 25px; margin-top: 5px;">
    </div>
    <div id="Qr2Img" tabindex="2">
    <figcaption>2) QR Code 2</figcaption>
    <img onclick="Qr2()" id="QR2" src="../static/img/Test.png" alt="QR Code 1" width="50" height="50" style="margin-left: 25px; margin-top: 5px;">
    </div>
    <div id="Qr3Img" tabindex="3">
    <figcaption>3) QR Code 3</figcaption>
    <img onclick="Qr3()" id="QR3" src="../static/img/Test.png" alt="QR Code 1" width="50" height="50" style="margin-left: 25px; margin-top: 5px;">
    </div>
    <div id="Qr4Img" tabindex="4">
    <figcaption>4) QR Code 4</figcaption>
    <img onclick="Qr4()" id="QR4" src="../static/img/Test.png" alt="QR Code 1" width="50" height="50" style="margin-left: 25px; margin-top: 5px;">
    </div>
    <div id="Qr5Img" tabindex="5">
    <figcaption>5) QR Code 5</figcaption>
    <img onclick="Qr5()" id="QR5" src="../static/img/Test.png" alt="QR Code 1" width="50" height="50" style="margin-left: 25px; margin-top: 5px;">
    </div>
    <div id="Qr6Img" tabindex="6">
    <figcaption>6) QR Code 6</figcaption>
    <img onclick="Qr6()" id="QR6" src="../static/img/Test.png" alt="QR Code 1" width="50" height="50" style="margin-left: 25px; margin-top: 5px;">
    </div>
  </div>


  <div id="col2"class="column">
    <h2 style="text-decoration:underline; text-align: center;">Bag Details</h2>
    <div id="BagNameInput" class = "input-group mb-3">
        <label for = "BagName" class="control-label" style="margin-right: 16px;">Bag Name</label>
        <input type="text" class="form-control" name="BagName" id="BagN" onkeyup="BagName()">
    </div>
    <div class = "input-group mb-3">
        <label for = "BagDescription" style="vertical-align: top; margin-top: 6%; display:inline-block;" class="control-label">Bag Description</label>
        <textarea name="Text1" cols="40" rows="5" name="BagDescription" id="BagD" onkeyup="BagDescription()"></textarea>
    </div>
    <h2 style="text-decoration:underline; text-align: center;">Upload Bag Photo</h2>
    <input type="file"  name="imageFile" id="imageFile" onchange="uploadFile()"> 
    <div id="preview" ><!--image will be inserted here--></div>  
    <h2 style="text-decoration:underline; text-align: center;">Add Bag Info</h2>
    <div id="BagMaterialInput" class = "input-group mb-3">
        <label for = "BagMaterial" style="margin-right: 10px; vertical-align: top; margin-top: 25%; display:inline-block;" class="control-label">Bag Material</label>
        <textarea name="Text2" cols="40" rows="20" name="BagMaterial" id="BagM" onkeyup="BagMaterial()"></textarea>
    </div>
  </div>


  <div id="col3"class="column">
    <h1 id="BagTitle">Bag Name</h1>
    <label for ="BagD" id="BagDescription">Description of the bag. It can be anything to describe the product</label>
    <div id="preview2"> 
    <img src="../static/img/bagExample.png">
    </div> 
   
    <h2>Guaranteed Analysis:</h2>
    <label for = "BagM" id = BagMaterial>Crude Protein (Min)      28.0% <br>
     Crude Fat (Min)             13.0% <br>
     Crude Fiber (Max)           4.75% <br>
     Moisture (Max)              12.0% <br>
     Linoleic Acid (Min) 1.6% <br>
     Docosahexaenoic Acid (DHA) (Min) 0.1% <br>
     Calcium (Ca) (Min) 1.1% <br>
     Phosphorus (P) (Min) 0.9% <br>
     Vitamin A (Min) 15,000 IU/kg <br>
     Vitamin E (Min) 100 IU/kg <br>
     Glucosamine* (Min) 500 mg/kg <br>
     Omega-6 Fatty Acids* (Min) 1.8% <br>
     Bacillus coagulans* (Min) 600 million CFU/lb</label> 

  </div>
</div>
<script src="../static/js/workbench.js"></script>
</body>
</html>
